html{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

img{
    max-width: 100%;
    display: block;
}

input,
button,
select{
    font: inherit;
}

a{
    text-decoration: none;
}

.menu__list{
    list-style: none;
}